<div class="example-container card-panel grey lighten-5 z-depth-5">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8   centered striped">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.ind}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- last_updated Column -->
    <ng-container matColumnDef="price_change_24hr">
      <th mat-header-cell *matHeaderCellDef>Price Change 24hr</th>
      <td mat-cell *matCellDef="let element"> {{element.market_data.price_change_24h | currency }} </td>
    </ng-container>

    <!-- Current_price Column -->
    <ng-container matColumnDef="current_price">
      <th mat-header-cell *matHeaderCellDef> Current Price
        <br> (usd)</th>
      <td mat-cell *matCellDef="let element"> {{element.market_data.current_price.usd | currency }} </td>
    </ng-container>

    <!-- high Column -->
    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef> High
        <br> (usd)</th>
      <td mat-cell *matCellDef="let element"> {{element.market_data.high.usd | currency }} </td>
    </ng-container>

    <!-- marketcap Column -->
    <ng-container matColumnDef="marketcap">
      <th mat-header-cell *matHeaderCellDef> marketcap
        <br> (usd)</th>
      <td mat-cell *matCellDef="let element"> {{element.market_data.market_cap.usd | currency }} </td>
    </ng-container>

    <!-- low Column -->
    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef> low
        <br> (usd)</th>
      <td mat-cell *matCellDef="let element"> {{element.market_data.low.usd | currency }} </td>
    </ng-container>

    <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Logo </th>
      <img class="responsive-img circle hoverable" mat-cell *matCellDef="let element" src={{element.image.small}} />
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="hovarable" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
