 <ul class="collection with-header">
    <li  routerLinkActive="active" class="collection-header"><h4>ASDF</h4></li>
    <li  routerLinkActive="active" class="collection-item"><div>Table<a routerLink="table" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Profile<a  routerLink="profile" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Graph<a routerLink="graph" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    
  </ul> 
  
 <!-- <button >click</button> -->
        
 <!-- <ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQskfxIrJMjce5O-z931kl9uwObFXwhVq2n4MluYWZRUS2tHyAT">
    </div>
    
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li  routerLinkActive="active" class="collection-item"><div>Table<a routerLink="table" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Profile<a  routerLink="profile" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Graph<a routerLink="graph" class="secondary-content"><i class="material-icons">send</i></a></div></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->