 <ul class="collection with-header">
    <li  routerLinkActive="active" class="collection-header"><h4>ASDF</h4></li>
    <li  routerLinkActive="active" class="collection-item"><div>Table<a routerLink="table" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Profile<a  routerLink="profile" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li  routerLinkActive="active" class="collection-item"><div>Graph<a routerLink="graph" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    
  </ul> 
  
 <!-- <button >click</button> -->
        
 